[submodule "Linkhub"]
	path = Linkhub
	url = https://github.com/linkhub-sdk/linkhub.dotnet
[submodule "Kakaocert"]
	path = Kakaocert
	url = https://github.com/linkhub-sdk/kakaocert.dotnet
[submodule "barocert"]
	path = barocert
	url = https://github.com/barocert/barocert.dotnet.git
[submodule "linkhub"]
	path = linkhub
	url = https://github.com/linkhub-sdk/linkhub.dotnet.git
